<html>
    <head>
        <title>Akanksha's eatries</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Akanksha's eatries</a></h1>
        </header>

        <article>
           <h2><a href="">Hara bhara kebabs. Click here for customization</a></h2>
            <p>Vegan food with a hint of inhouse sesame sauce</p>
        </article>

        <article>
            <h2><a href="">India style Veg patty. Click here to customize</a></h2>
            <p>Vegan snacks with inhouse tomato sauce</p>
        </article>
    </body>
</html>